.background {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: inherit;
    height: inherit;
    opacity: .8;
    position: absolute;
}

.songs {
    width: 30vw;
    position: absolute;
    left: 60vw;
    top: 5vw;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 20px 4px gray;

    .die {
        font-size: 2vw;
    }

    iframe {
        transition: 1s all;


        opacity: .3;
        height: 8vw;

        &:hover {
            height: 15vw;
            opacity: 1;
            cursor: pointer;
        }
    }
}